{
    'CURRENT_ENV': 'dev',
    'dev': {
        'ENV': 'dev',
        'API_URL': 'https://dev-website/api/',
        'UI_URL': 'https://dev-website/',
        'AUTH': '',
        'USERNAME': '',
        'PASSWORD': ''
    }
}